<section class="dashboard">
  <div class="dashboard-details">
  <section class="flex-row justify-center">
    {{#each user_postings as |postings|}}
    {{> dashboard-details}}
    {{/each}}
  </section>
        <a href="/newpost">NewPost</a>
  </div>
</section>