<div class="new-post">
  <h2 class="page-title">NewPost</h2>
  <form class="post-form">
    <div class="form-group">
      <label for="title">title:</label>
      <input class="form-input" type="text" id="post-title" />
    </div>
    <div class="form-group">
      <label for="content">Content:</label>
      <input class="form-input" type="content" id="post-content" />
    </div>
    <div class="form-group">
      <button class="btn btn-primary" type="submit">Submit</button>
    </div>
  </form>
</div>

<script src="./js/newPost.js"></script>